.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: #666161 0px 0px 10px;
    background-color: #9bb1ce;
    border-radius: 10px;
    margin: 45px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #031f47; 
    color: #ffffff;
}
header{
    background-color: #333;
    color: white;
    padding: 9.5px 0;
    margin: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 7.5px;
}
h1{
    margin: 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
  
}
header ul li{
    display: inline;
    margin: 0px 25px 0px 25px;
    padding: 15px 20px 10px 50px; 
    border-left: #ffffff solid 1px;
    border-right: #ffffff solid 1px;
    border-radius: 5px;

}
header ul :hover{
    background-color: #0a1fdb;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
section{
    padding: 20px;
}
footer{
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    border-radius: 7.5px;
    margin: auto;
}
footer nav ul li{
  display: inline;
    margin: 0 15px;
    padding: 10px 10px;
    border-radius: 15px;
}

img{
    max-width: 100%;
    height: auto;
}
h1{
    color: #0a4fe2;
    text-align: center;
}
h2{
    color: #0a4fe2;
    border-bottom: 2px solid #0a4fe2;
    padding-bottom: 5px;
    text-align: center;
}